.categories {
  h2 {
    padding-top: 5rem;
  }

  .category {
    display: inline-block;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 4rem;
    padding: 0.5rem 1rem;

    &.active {
      background-color: #fcd661;
    }

    img {
      width: 3.5rem;
      background: white;
      vertical-align: middle;
      margin-right: 1rem;
      border: 1px solid #ddd;
      border-radius: 50%;
      padding: 1rem;
      box-sizing: border-box;
    }

    .category-name {
      vertical-align: middle;
    }
  }
}
